<!DOCTYPE html>
<!--
    Name: Jonathan Dinh
    Date: 05.01.2021
    Section: CS 355

    This is the admin page, which will allow an administrator to view the available courses
    as well as the courses that students or instructors are currently enrolled in.
-->
<html lang="en">
    <head>
        <meta charset = utf-8 />
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/styles.css">
    </head>

    <body>
        <header>
            <div class="header-left">
                <!--QC Logo will appear on every webpage-->
                <a href="../index.html"><img src="img/qc_logo.jpg" alt="Queens College logo"></a> 
            </div>
        </header>

        