<!DOCTYPE html>
<!--
	Name: Anthony Lombardo
	Date: 05.04.2021
	Section: CS355

	  This is the Settings page for QCFirst. 
	* This page displays the following:
	- User Image
	- Name,
	- ID
	- Phone Number and Email (With a button that is able to change either). 
	* There's also a section that pushes notifications to the User, in case
	  a class has recently become available/unavailable
-->
<html lang="en">
	<head>
		<meta charset = UTF-8 />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Settings</title>
		<link rel="stylesheet" href="../css/user-styles.css">
		<link rel="stylesheet" href="../css/settings-styles.css">
		<script src="../js/settings-script.js"></script>
	</head>
	<body>
		<!--Page Header-->
		<div class="topnav">
			<!--QC Logo-->
			<a href="/studentcenter" class="logo"> 
				<img src="/img/qc_logo.jpg" width=120 alt="QC Logo"/> 
			</a>
			<!--Dropdown Navigation Menu Stored in User Icon-->
			<nav class="nav-menu">
				<div class="dropdown-toggle"> 
					<!--User Photo: https://stock.adobe.com/290580606?tduid=971268d0957d9995b1e6a74288ca7071&as_channel=affiliate&as_campclass=redirect&as_source=arvato&asset_id=290580351-->
					<img src="img/User.png" width=50 alt="Profile Photo" /> 
					<!--Links That Direct to Home (Student Center), Settings, and Sign Out (Homepage)-->
					<nav class="dropdown-list">
						<a href="<%= home %>"  class="dropdown-link">Home</a> <br>
						<a href="/settings" class="dropdown-link">Settings</a> <br>
						<a href="/signout" class="dropdown-link">Sign Out</a>
					</nav>
				</div>
			</nav>
		</div> <!--End of Page Header-->
		<!--Page Heading Containing User Image and "User Settings" Heading-->
		<div class="heading">
			<img src="/img/User.png" height=250 width=250 alt="User Photo" class="user-image"/>
			<h1>User Settings</h1>
		</div>
		<!--Section Containing Name (Left Column) and ID of User (Right Column)-->
	   <section class="name-id-section">
			<div class="row">
				<div class="left-side">
					<h2>Name:</h2>
					<p><%= name %> </p>
				</div>
				<div class="right-side">
					<h2>ID:</h2>
					<p>21657625</p>
				</div>
			</div>
		</section>
		<!--Section Containing Email of User (Left Column) and Button to Change Email of User (Right Column)-->
		<section class="email-section">
			<div class="row">
				<div class="left-side">
					<h2>Email:</h2>
					<p class="email-input"><%= email %> </p>
				</div>
				<div class="right-side"> 
					<button class="change-button" type="button">Change Email</button>
					<div class="modal">
						<div class="modal-content">
							<span class="close">&times;</span>
							<form>
								<label for="email">Enter New Email:</label>
								<input type="email" id="email" name="email">
								<input type="submit">
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--Section Where User Selects How They Receive Notifications-->
		<section class="notifications-section">
			<h2>Notifications</h2>
			<!--Div That Holds Both Notification Checkboxes-->
			<div class="check">
				<!--Checkbox for Email Notifications-->
				<div class="checkbox-field">
					<input type="checkbox" id="email-checkbox" name="email-checkbox"/>
					<label for="email-checkbox">Send Notifications Through Email</label>
				</div>
			</div>
		</section>
	</body>
</html>
