<!DOCTYPE html>
<!--
	Name: Anthony Lombardo
	Date: 05.04.2021
	Section: CS355

	  This is the Student Center page for QCFirst. 
	* It includes an Options sections that provides links to 
	  the Course Search page, Blackboard, and Degreeworks. 
	* There's a Courses section that provides the current schedule. 
	- The section also provides a select form that goes through schedules 
	  from different semesters as well as a notified schedule that holds 
	  all of the courses that the student clicked the Notification Bell on 
	  (This works similarly to the enroll page on CUNYFirst).
	* The next section gives the student a way to pay for their tuition, 
	  along with another section that informs the student if they have 
	  any holds on their accounts.
-->
<html lang="en">
	<head> 
		<meta charset = UTF-8 />
		<title>Student Center</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/user-styles.css">
		<link rel="stylesheet" href="../css/center-styles.css">
		<script src="../js/center-script.js"></script>
	</head>
	<body>
		<!--Page Header-->
		<div class="topnav">
			<!--QC Logo-->
			<a href="/studentcenter" class="logo"> 
				<img src="img/qc_logo.jpg" width=120 alt="QC Logo"/> 
			</a>
			<!--Dropdown Navigation Menu Stored in User Icon-->
			<nav class="nav-menu">
				<div class="dropdown-toggle"> 
					<!--User Photo: https://stock.adobe.com/290580606?tduid=971268d0957d9995b1e6a74288ca7071&as_channel=affiliate&as_campclass=redirect&as_source=arvato&asset_id=290580351-->
					<img src="img/User.png" width=50 alt="Profile Photo" /> 
					<!--Links That Direct to Home (Student Center), Settings, and Sign Out (Homepage)-->
					<nav class="dropdown-list">
						<a href="/studentcenter" class="dropdown-link">Home</a> <br>
						<a href="/settings" class="dropdown-link">Settings</a> <br>
						<a href="/signout" class="dropdown-link">Sign Out</a>
					</nav>
				</div>
			</nav>
		</div> <!--End of Page Header-->
		<h1> Welcome to Student Center, <br> <%= name %> </h1> <!--Page Heading-->
 		<!--Section That Contains Link Options and Course Schedule (Depending on Selected Semester/Term)-->
		<section class="main-section">
			<div class="row">
				<!--Left Column That Displays the Option Links-->
				<div class="left-side">
					<h2>Options</h2>
					<!--Links That direct to Course Search, Blackboard, and Degreeworks-->
					<div class="container">
						<a href="/coursesearch"> Course Search <br/></a>
						<a href="https://bbhosted.cuny.edu/"> Blackboard <br/></a>
						<a href="https://degreeworks.cuny.edu/"> Degreeworks <br/></a>
					</div>
				</div>
				<!--Right Column That Displays the Course Schedule (Heading, Dropdown List, Table)-->
				<div class="right-side">
					<!--Row That Displays the Course Schedule Heading and Dropdown List That Includes Semester Options--> 
					<div class="left"><h2 class="heading">Courses</h2> </div>
					<div class="select-form">
						<label for="select-semester">Select Semester</label>
						<select id="select-semester" name="select-semester">
							<option value="">Select one...</option>
							<option value="notifiedcourses">Notified Courses</option>
							<option value="spring2021">Spring 2021</option>
							<option value="fall2020">Fall 2020</option>
							<option value="spring2020">Spring 2020</option>
						</select>
					</div>
					<!--This is the schedule that will be shown on all devices-->
					<div class="table">
						<table class="schedule">
							<tr>
								<th></th> <!--This is the info button for each class-->
								<th>Course Name</th>
								<th>Instructor</th>
								<th>Course Days</th>
								<th>Course Time</th>
							</tr>
							<tr>
								<td>
									<img class="info-button" src="img/info-button.png" height=25 width=25 alt="Button to Display Course Information"/>
									<div class="modal">
										<div class="modal-content">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Course Info:</h2>
												<br>
											</header>
											<p>Course Name: CSCI 316 - Database Systems</p>
											<p>Semester: Spring 2021</p>
											<p>Department: Computer Science</p>
											<p>Instructor: Tat Yung Kong</p>
											<p>Description: Principles and Implementation of Programming Languages</p>
											<p>Available Seats: 3</p>
											<p>Enrollment Deadline: Already Passed</p>
											<button class="delete-button" type="button">Drop Course</button>
										</div>
									</div>
									<div class="drop-modal">
										<div class="drop-warning">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Are You Sure You Want to Drop This Course?</h2>
												<br>
											</header>
											<button type="button" class="yes-button">YES</button>
											<button type="button" class="no-button">NO</button>
										</div>
									</div>
								</td>
								<td>CSCI 316</td>
								<td>Tat Yung Kong</td>
								<td>Monday, Wednesday</td>
								<td>1:40 PM - 2:55 PM</td>
							</tr>
							<tr>
								<td>
									<img class="info-button" src="img/info-button.png" height=25 width=25 alt="Button to Display Course Information"/>
									<div class="modal">
										<div class="modal-content">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Course Info:</h2>
											</header>
											<p>Course Name: CSCI 331 - Database Systems</p>
											<p>Semester: Spring 2021</p>
											<p>Department: Computer Science</p>
											<p>Instructor: Daniel Leavitt</p>
											<p>Description: This Course Covers The Theory Behind Database Systems, Including SQL, Transactions, etc.</p>
											<p>Available Seats: 5</p>
											<p>Enrollment Deadline: Already Passed</p>
											<button class="delete-button" type="button">Drop Course</button>
										</div>
									</div>
									<div class="drop-modal">
										<div class="drop-warning">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Are You Sure You Want to Drop This Course?</h2>
											</header>
											<button type="button" class="yes-button">YES</button>
											<button type="button" class="no-button">NO</button>
										</div>
									</div>
								</td>
								<td>CSCI 331</td>
								<td>Daniel Leavitt</td>
								<td>Monday, Wednesday</td>
								<td>8:00 PM - 9:15 PM</td>
							</tr>
							<tr>
								<td>
									<img class="info-button" src="img/info-button.png" height=25 width=25 alt="Button to Display Course Information"/>
									<div class="modal">
										<div class="modal-content">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Course Info:</h2>
											</header>
											<p>Course Name: CSCI 323 - Design and Analysis of Algorithms</p>
											<p>Semester: Spring 2021</p>
											<p>Department: Computer Science</p>
											<p>Instructor: Paul Cesaretti</p>
											<p>Description: This Course Covers Advanced Data Structures</p>
											<p>Available Seats: 8</p>
											<p>Enrollment Deadline: Already Passed</p>
											<button class="delete-button" type="button">Drop Course</button>
										</div>
									</div>
									<div class="drop-modal">
										<div class="drop-warning">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Are You Sure You Want to Drop This Course?</h2>
											</header>
											<button type="button" class="yes-button">YES</button>
											<button type="button" class="no-button">NO</button>
										</div>
									</div>
								</td>
								<td>CSCI 323</td>
								<td>Paul Cesaretti</td>
								<td>Tuesday, Thursday</td>
								<td>6:30 PM - 7:45 PM</td>
							</tr>
							<tr>
								<td>
									<img class="info-button" src="img/info-button.png" height=25 width=25 alt="Button to Display Course Information"/>
									<div class="modal">
										<div class="modal-content">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Course Info:</h2>
											</header>
											<p>Course Name: CSCI 355 - Internet and Web Technologies</p>
											<p>Semester: Spring 2021</p>
											<p>Department: Computer Science</p>
											<p>Instructor: Mark Abramov</p>
											<p>Description: This Course Covers The Following Topics: HTML, CSS, JavaScript, etc.</p>
											<p>Available Seats: 0</p>
											<p>Enrollment Deadline: Already Passed</p>
											<button class="delete-button" type="button">Drop Course</button>
										</div>
									</div>
									<div class="drop-modal">
										<div class="drop-warning">
											<header class="modal-header">
												<span class="close">&times;</span>
												<h2>Are You Sure You Want to Drop This Course?</h2>
											</header>
											<button type="button" class="yes-button">YES</button>
											<button type="button" class="no-button">NO</button>
										</div>
									</div>
								</td>
								<td>CSCI 355</td>
								<td>Mark Abramov</td>
								<td>Tuesday</td>
								<td>8:00 PM - 10:50 PM</td>
							</tr>
						</table>
					</div>
					<!--If Notified Courses is Selected From the Dropdown List, This is the Schedule That is Shown-->
					<table class="notified-schedule" hidden>
						<tr>
							<th>Course Name</th>
							<th>Instructor</th>
							<th>Course Days</th>
							<th>Course Time</th>
							<th>Semester</th>
							<th>Availability</th>
							<th>Unnotify Me</th> <!--If Notification Bell is clicked on, the Selected Course is removed From This Schedule Table-->
							<th></th> <!--If the Enroll Button is clicked on, the Selected Course goes to the Schedule Table That Matches the Selected Course's Semester-->
						</tr>
						<tr>
							<td>CSCI 316</td>
							<td>Tat Yung Kong</td>
							<td>Monday, Wednesday</td>
							<td>1:40 PM - 2:55 PM</td>
							<td>Spring 2021</td>
							<td> <img src="img/Red_Circle.png" height=40 width=40 alt="This Class is Currently Unavailable" class="availability-icon"/> </td>
							<td> <a href="" class="notification"> <img src="img/notification-bell.png" alt="Notification Bell" class="notification-bell" width=30 height=30 /> </a> </td>
							<td> <a href="" class="enroll-button">Enroll</a> </td>
						</tr>
						<tr>
							<td>CSCI 331</td>
							<td>Daniel Leavitt</td>
							<td>Monday, Wednesday</td>
							<td>8:00 PM - 9:15 PM</td>
							<td>Spring 2021</td>
							<td> <img class="availability-icon" src="img/Green_Circle.png" height=40 width=40 alt="This Class is Currently Available"/> </td>
							<td> <a href="" class="notification"> <img src="img/notification-bell.png" alt="Notification Bell" class="notification-bell" width=30 height=30 /> </a> </td>
							<td> <a href="" class="enroll-button">Enroll</a> </td>
						</tr>
						<tr>
							<td>CSCI 323</td>
							<td>Paul Cesaretti</td>
							<td>Tuesday, Thursday</td>
							<td>6:30 PM - 7:45 PM</td>
							<td>Fall 2021</td>
							<td> <img src="img/Red_Circle.png" height=40 width=40 alt="This Class is Currently Unavailable" class="availability-icon"/> </td>
							<td> <a href="" class="notification"> <img src="img/notification-bell.png" alt="Notification Bell" class="notification-bell" width=30 height=30 /> </a> </td>
							<td> <a href="" class="enroll-button">Enroll</a> </td>
						</tr>
						<tr>
							<td>CSCI 355</td>
							<td>Mark Abramov</td>
							<td>Tuesday</td>
							<td>8:00 PM - 10:50 PM</td>
							<td>Fall 2021</td>
							<td> <img class="availability-icon" src="img/Green_Circle.png" height=40 width=40 alt="This Class is Currently Available"/> </td>
							<td> <a href="" class="notification"> <img src="img/notification-bell.png" alt="Notification Bell" class="notification-bell" width=30 height=30 /> </a> </td>
							<td> <a href="" class="enroll-button">Enroll</a> </td>
						</tr>
					</table>
				</div> <!--End of Right Column-->
			</div> <!--End of Row-->
		</section> <!--End of main-section-->
		<!--Section That Displays Payments That Are Due (Left Column) and Holds (Right Column)-->
		<section class="payment-hold-section">
			<div class="row">
				<!--Column That Displays Amount due on Payments-->
				<div class="left-side">
					<h2>Payment</h2>
					<p>Amount Due: $3,765.21</p>
					<a href="" class="button">Pay Now</a>
				</div>
				<!--Column That Displays any Account Holds-->
				<div class="right-side">
					<h2>Holds</h2>
					<p>You Currently Have No Holds</p>
				</div>
			</div>
		</section>
	</body>
</html>
