<!DOCTYPE html>
<!--
    Name: Jonathan Dinh
    Date: 05.01.2021
    Section: CS 355

    This is the sign up page for teachers for the qcFirst prototype website. It contains a form
    for future teachers to fill out. Once filled out, the teacher's information will be saved
    in the teacher database for future login. It also includes a link to the student sign up page.
-->
<html lang="en">
    <head>
        <meta charset = utf-8 />
        <title>Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
        crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/>
        <link rel="stylesheet" href="../css/styles.css">
    </head>

    <body>
        <header>
            <div class="header-left">
                <!--QC Logo will appear on every webpage-->
                <a href="../index.html"><img src="img/qc_logo.jpg" alt="Queens College logo"></a> 
            </div>
            <div class="header-right">
                <a class="menu-login" href="/login">Login</a> 
                <a class="menu-sign-up" href="/studentsignup">Sign Up</a> 
            </div>
        </header>

        <%- include ('./partials/messages'); %> 

        <form action="/teachersignup" method="post">
            <!--Form fields for user to fill out to sign up-->
            <div class="signup-container">
                <h1>Sign Up - Teacher</h1>
                <label for="firstname"><b>First Name</b></label>
                <input type="text" id="firstname" Name="firstname" placeholder="First Name" required="">

                <label for="lastname"><b>Last Name</b></label>
                <input type="text" id="lastname" Name="lastname" placeholder="Last Name" required="">

                <label for="emailaddress"><b>Email Address</b></label>
                <input type="email" id="emailaddress" Name="emailaddress" placeholder="Email Address" required="">

                <label for="password"><b>Password</b></label>
                <input type="password" id="password" Name="password" placeholder="Password" required="">
                
                <div class = "submitbtn">
                    <input type="submit" class="signupbtn" value="SIGN UP">
                </div>

                <div class = "studentbtn">
                    <a href = "/studentsignup">Click Here for Student Sign Up</a>
                </div>
            </div>
        </form>
        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"
      ></script>
    </body>
</html>

<!--Sources-->
<!--https://learn.zybooks.com/zybook/CUNYCSCI355AbramovSpring2021/chapter/2/section/11-->